@model DotNetWebApp.Models.OfferCarModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Renting</h1>

<h4>Car</h4>
<body>
	@if (Model.Car.IsRented)
	{
		<div>
			Car Is Rented
		</div>
	}
	else
	{
		<div>
			You Still Can Rent Car!
		</div>
	}

	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="CarId" />

		<div class="form-group">
			<input type="submit" value="Rent" class="btn btn-primary" />
		</div>
	</form>


</body>



<div>
	<a asp-action="Index">Back to List</a>
</div>

